h2, h3, h4, h5, h6 {
	color: #192a3e;
	font-family: 'PT Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #1f92ac;

	&:hover {
		color: #176e82;
	}
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

@function rem-calc($size) {
	$remSize: $size / 16;
	@return #{$remSize}rem;
}
