.innerpage {
    header {
        min-height: 50px;
        background: rgb(115, 117, 128);

        .row {
            padding-top: 0px;
            padding-bottom: 30px;

            .title {
                padding-top: 20px;
            }
        }
    }
}