.innerpage header {
  min-height: 50px;
  background: #737580; }
  .innerpage header .row {
    padding-top: 0px;
    padding-bottom: 30px; }
    .innerpage header .row .title {
      padding-top: 20px; }
